.nav-h1{
    color: rgba(36, 174, 12, 0.8);
    font-family: "BBH Bartle", sans-serif;
    font-size: 1rem;
    padding: 5rem, 2rem;
}
header{
    background-image: url(../img/backgroung-header.jpg);
    background-size: cover;
    height: 95vh;
}

/* seccion de main archivo quuienes somos*/


